/* --- THEME OVERRIDES ---*/

.text-darker-shadow {
    text-shadow: 1px 1px 1px #0D0D0D !important;
}

.more-btn {
    font-size: 10px !important;
    margin-top: -8px !important;
    padding-bottom: 8px !important;
}

hr {
    margin: 20px 0 !important;
}